{% extends 'notecards/base.html' %}

{% block body_block %}
    <h1>{{ user.username }}</h1>
    <hr>
    <br />
    <h2>Change email address</h2>
    <br />
    <p>Current email address: {{ user.email }}
    <form method="POST" action="#">
        {% csrf_token %}
        <label for="email">New email: </label>
        <input type="email" id="email" name="email">
        <br />
        <label for="email_confirm">Confirm new email: </label>
        <input type="email" id="email_confirm" name="email_confirm">
        <br />
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h2>Change password</h2>
    <form method="POST" action="{% url 'password_change' %}">
        {% csrf_token %}
        <label for="id_old_password">Old password: </label>
        <input id="id_old_password" type="password" name="old_password">
        <br />
        <label for="id_new_password1">New password: </label>
        <input id="id_new_password1" type="password" name="new_password1">
        <br />
        <label for="id_new_password2">Confirm new password: </label>
        <input id="id_new_password2" type="password" name="new_password2">
        <br />
        <input type="submit" value="Submit">
    </form>
{% endblock %}