.navbar-right {
    padding-right: 15px;
}

.correct {
    -webkit-box-shadow: 0px 0px 17px 8px rgba(93,186,108,1);
    -moz-box-shadow: 0px 0px 17px 8px rgba(93,186,108,1);
    box-shadow: 0px 0px 17px 8px rgba(93,186,108,1);
}

.wrong {
    -webkit-box-shadow: 0px 0px 17px 8px rgba(161,5,10,1);
    -moz-box-shadow: 0px 0px 17px 8px rgba(161,5,10,1);
    box-shadow: 0px 0px 17px 8px rgba(161,5,10,1);
}

#qa_div {
    border: 1px solid black;
    text-align: center;
    margin-top: 5em;
    height: 25em;
}

#contBTN {
    margin: 2em;
}

label {
    vertical-align: top;
}

select {
    width: 30em;
}