<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>
        {% block title_block %}
        Flashnerd - Social flashcards
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head_block %}{% endblock %}
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
</head>
<body>
    <div class="site-masthead">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="site-navbar-collapse">
                    <ul class="nav navbar-nav">
                    <li><a class="nav-item" href="{% url 'index' %}">Home</a></li>
                    <li><a class="nav-item" href="{% url 'decks' %}">Browse Decks</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="nav-item" href="{% url 'decks' %}{{ user.get_username }}">Your Decks</a></li>
                    {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'decks' %}{{ user.get_username }}">Your Decks</a></li>
                                <li><a href="{% url 'create_deck' %}">Create a Deck</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                                <li><a href="{% url 'account_email' %}">Email Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a id="lolink" href="#">Logout</a>
                                    <form id="loform" method="POST" action="{% url 'account_logout' %}">
                                        {% csrf_token %}
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a class="nav-item" href="{% url 'account_login' %}">Login</a></li>
                        <li><a class="nav-item" href="{% url 'account_signup' %}">Register</a></li>
                    {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" role="search" action="{% url 'haystack_search' %}" method="GET">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Search" name="q">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="container bodyblock">
        <div class="row">
            <div class="col-sm-12">
                {% block body_block %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block script_block %}{% endblock %}
</body>
<footer>
    {% block footer_block %}{% endblock %}
</footer>
</html>
