{% extends 'notecards/base.html' %}

{% block body_block %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th># of Cards</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody id="decktable">
    {% csrf_token %}
        {% for deck in decks %}
                <tr class="clickable-row" data-href="{% url 'view_deck' %}?did={{ deck.id }}">
                    <td>{{ deck.title }}</td>
                    <td>{{ deck.author }}</td>
                    <td>{{ deck.numCards }}</td>
                    <td>
                        {% for tag in deck.tags.all %}
                            {% if forloop.counter == deck.tags.all|length %}
                                {{ tag.name }}
                            {% else %}
                                {{ tag.name }},
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script_block %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });

        var page = 1;

        function getMoreEntries(page) {
            $.ajax('/notecards/{{ mode }}/', {
                type: 'POST',
                dataType: 'html',
                data: {page_num: page},
                success: function(data) {
                    $("#decktable").append(data);
                }
            })
            return 1;
        }

        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() + $(window).height() >= $(document).height() - 150) {
                    page += getMoreEntries(page);
                }
            })
        })
    </script>
{% endblock %}