{% extends 'notecards/base.html' %}

{% block body_block %}
    <h1 id="welcome">Welcome</h1>
    <div class="col-xs-8 col-xs-offset-2">
        <p class="lead">This site lets you make and share flashcards with other users. Features include:</p>
        <ul>
            <li>Create your own flashcard decks, up to 100 decks!</li>
            <li>Browse other users' decks and copy the ones you like</li>
            <li>Don't want other users to see your deck? No problem, the site allows you to "unpublish" decks so that other users can't see them</li>
            <li>Add, edit, and delete cards</li>
            <li>Study your flashcards using an algorithm that selects your hardest cards more often</li>
            <li>There's also a "hard mode" that only drills you on your weakest cards</li>
        </ul>
        <p class="lead">Join today! You can even use your pre-existing Google account to log in!</p>
    </div>
{% endblock %}
