{% extends 'notecards/base.html' %}

{% block body_block %}
	{% if user == deck.author %}
		<div class="col-md-12 text-center">
		<a href="/notecards/get_card/{{ deck.id }}/">
			<button class="btn btn-success btn-wide">
				Drill Cards
			</button>
		</a>
		</div>
		<br />
	{% endif %}

	{{ deckform.as_p }}

	<h3>Cards</h3>
	<select size="10" name="cards" id="cards">
		{% for card in cards %}
			<option value={{ card.pk }}>{{ card.front }} -- {{ card.back }}</option>
		{% endfor %}
	</select>
	<br />
	{% if user == deck.author %}
		<button type="button" class="btn btn-danger" id="delbtn">Delete</button>
		<button type="button" class="btn btn-primary" id="editbtn">Edit</button>
		<br />
		<div id="editdiv" style="display: none;">
			<form id="editform" action="#" method="POST">
				{% csrf_token %}
				<label for="editfront">Front:</label>
				<input name="editfront" id="editfront">
				<label for="editback">Back:</label>
				<input name="editback" id="editback">
				<br />
				<input type="submit" value="Change" />
			</form>
		</div>
		<h3>Add Cards</h3>
		<form id="cardcreate" action="#" method="POST">
			{% csrf_token %}
			{{ cardform.front.label_tag }}
			{{ cardform.front }}
			{{ cardform.back.label_tag }}
			{{ cardform.back }}
			<br />
			<input type="submit" value="Create" />
		</form>
		<br />
		<br />
		<form method="POST" action="/notecards/delete/">
			{% csrf_token %}
			<input type="hidden" name="did" value="{{ deck.id }}">
			<input type="submit" value="Delete deck" class="btn btn-danger">
		</form>	
	{% elif user.is_authenticated %}
		<a href="{% url 'clone_deck' %}?did={{ deck.id }}">
			<button class="btn btn-success">
				Clone Deck
			</button>
		</a>
	{% endif %}
{% endblock %}

{% block script_block %}
	<script type="text/javascript">

		$("#cardcreate").submit(function(event) {
			event.preventDefault();

			var url = '/notecards/create_card/{{ deck.id }}/';
			var formData = $('#cardcreate').serialize();

			$.ajax({
				method: 'POST',
				url: url,
				data: formData,
				success: function(data) {
					$('#cards').append(data);
					$('#id_front').val('');
					$('#id_back').val('');
					$('#id_front').focus();
				}
			});
		});

		$("#delbtn").click(function() {
			var delCard = $("#cards option:selected").val();
			$.ajax({
				method: 'DELETE',
				url: '/notecards/edit_card/' + delCard + '/',
				success: function(data) {
					$("#cards option[value='" + delCard +"']").remove();
				}
			});
		});

		$("#editbtn").click(function() {
			$("#editdiv").toggle();
			var text = $("#cards option:selected").text();
			var sides = text.split(' -- ');
			$("#editfront").val(sides[0]);
			$("#editback").val(sides[1]);
		});

		$("#editform").submit(function(event) {
			event.preventDefault();
			var editCard = $("#cards option:selected").val();
			var formData = $("#editform").serialize();
			$.ajax({
				method: 'POST',
				data: formData,
				url: '/notecards/edit_card/' + editCard + '/',
				success: function(data) {
					$("#cards option[value='" + editCard + "']").replaceWith(data);
					$("#editdiv").hide();
				}
			});
		});
	</script>
{% endblock %}